*{
    margin:0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: aliceblue;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav
{
    height: 150px;
    width: 100%;
  position: fixed;
    display: flex;
   padding: 20px 150px;
    justify-content: start;
    gap: 50px;
    z-index:99;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
  

}
#main{
   position:relative;
   background-color: rgba(0, 0, 0, 0.37);
}
#page1
{
    height:100vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}


#page h1::before{
  content: "i";
  position:absolute;
  color: black;
  
 
    
}


